@model IEnumerable<BRTailor.MeasurmentType>

@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Design List</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>

        </header>



        <div class="content-body">
            <span class="btn btn-corner" style="margin-bottom:10px">
                <i class="fa fa-gears fa-4x"> @Html.ActionLink("Add New", "AddCategory")</i>
            </span>
            <table id="example-1" class="table table-striped dt-responsive display dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="example-1_info" style="width: 100%;">
                <thead>
                    <tr role="row" class="odd">
                        <th class="th-sm">
                          Category Name
                        </th>

                        <th class="th-sm">
                            Price
                        </th>
                        <th class="th-sm">Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
            {
                    <tr role="row" class="even">
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurment_Type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCategory", new { id = item.Measurment_Type_ID }) |

                            @Html.ActionLink(" Delete", "DeleteCategory", new { id = @item.Measurment_Type_ID },
                    new { onclick = "return confirm('Are you sure you wish to delete this Design?');" })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </section>
</div>

