@model BRTailor.Measurment

<ul class="list-group" style="columns: 2">
    <li class="list-group-item" id="Type"><span style="font-weight:700">ٹائپ /Type :</span>@Model.Measurment_Type </li>
    <li class="list-group-item" id="Length"><span style="font-weight:700">لمبائی/Length :</span>  @Model.Length </li>
    <li class="list-group-item" id="Chest"> <span style="font-weight:700">سینہ/Chest :</span> @Model.Chest</li>
    <li class="list-group-item" id="Shoulder"><span style="font-weight:700">کندھا /Shoulder : </span>@Model.Shoulder   </li>
    <li class="list-group-item" id="Waist"><span style="font-weight:700">    کمر/Waist :</span>@Model.Waist</li>
    <li class="list-group-item" id="Seelves"> <span style="font-weight:700">آستین/Seelves :</span>@Model.Sleeves</li>
    <li class="list-group-item" id="Arms"><span style="font-weight:700">بازو/Arms :</span>@Model.arms</li>
    <li class="list-group-item" id="Kaaf"><span style="font-weight:700">کف/Kaaf :</span>@Model.Kaaf </li>
    <li class="list-group-item" id="CollorS"><span style="font-weight:700">کالر سائز /Collor Size  :</span>@Model.CollarSize   </li>
    <li class="list-group-item" id="CollorD"><span style="font-weight:700"> کالر ڈیزائن/Collor Design:</span> @Model.Dcollor</li>
    <li class="list-group-item" id="SideP"> <span style="font-weight:700">سائیڈ جیب/Side Pockets :</span>@Model.SidePocket</li>
    <li class="list-group-item" id="FrontP"> <span style="font-weight:700">سامنے جیب/Front Pocket :</span>@Model.FrontPocket</li>
    <li class="list-group-item" id="Tera"><span style="font-weight:700">Tera :</span>@Model.Tera</li>
    <li class="list-group-item" id="GheraD"><span style="font-weight:700">Ghera design:</span> @Model.Ghera </li>
    <li class="list-group-item" id="SuitD"> <span style="font-weight:700">سوٹ ڈیزائن/Suit Design :</span> @Model.suitDesign </li>
    <li class="list-group-item" id="ButtonD"> <span style="font-weight:700">بٹن ڈیزائن/Button Design :</span> @Model.btnDesign</li>
    <li class="list-group-item" id="Stitch"> <span style="font-weight:700">سلائی/Stitch :</span> @Model.Stitch </li>
    <li class="list-group-item" id="Hip"> <span style="font-weight:700">Hip :</span> @Model.Hip </li>
    <li class="list-group-item" id="Gidrii"> <span style="font-weight:700">Gidrii :</span> @Model.Gidrii </li>
    <li class="list-group-item" id="Bottom"> <span style="font-weight:700">پیندا/Bottom :</span> @Model.Bottom </li>
    <li class="list-group-item" id="Ghera"> <span style="font-weight:700">گیرا/Ghera :</span> @Model.Ghera_num </li>
    <li class="list-group-item" id="coatButton"> <span style="font-weight:700">Coat Button :</span> @Model.CoatButton </li>
    <li class="list-group-item" id="coatFitting"> <span style="font-weight:700">Coat Fitting :</span> @Model.CoatFitting </li>
    <li class="list-group-item" id="Cross"> <span style="font-weight:700">Cross Back :</span> @Model.CrossBack </li>
    <li class="list-group-item" id="Comments"> <span style="font-weight:700">Comments :</span> @Model.Comments </li>
</ul>