@model BRTailor.Measurment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12 col-md-12 col-md-12 col-sm-12">
    <section class="box ">

        <header class="panel_header">
            <h2 class="title pull-left">Customer Details</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        <div class="content-body">
          
            <div class="row">
                <div class="col-md-3">
                    <label>Name</label>
                    <input type="text" class="form-control is-valid" value="@ViewBag.Name" id="CustomerName" name="CustomerName" placeholder="Enter Name" required>
                </div>
                <div class="col-md-3">
                    <label>Phone</label>
                    <input type="text" class="form-control is-valid" value="@ViewBag.Phone" id="Phone" name="Phone" placeholder="Enter Phone" required>

                </div>
                <div class="col-md-3">
                    <label>City</label>
                    <input type="text" class="form-control is-valid" value="@ViewBag.City" id="City" name="City" placeholder="Enter City" required>
                </div>
                <div class="col-md-3">
                    <label>Address</label>
                    <input type="text" class="form-control is-valid" value="@ViewBag.Address" id="Address" name="Address" placeholder="Address"
                           required>
                </div>
                
            </div>
           
         


        </div>
        @*Measurment*@
        <header class="panel_header">
            <h2 class="title pull-left">Measurment Detail's</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        @if (ViewBag.Measurment_Type_ID != null)
        {
            <div class="content-body">

                <div class="row">
                    <div class="col-md-3">
                        <label>Type</label>
                        @Html.DropDownList("Measurment_Type_ID", null, "-select- ", htmlAttributes: new { @class = "form-control", name = "Measurment_Type_ID", id = "Measurment_Type_ID" })
                    </div>
                    <div class="col-md-3" id="Lengthdiv">
                        <label>لمبائی/Length</label>
                        <input type="text" class="form-control is-valid" id="Length" name="Length" placeholder="Length" required>

                    </div>
                    <div class="col-md-3" id="armsdiv">
                        <label>بازو/Arms Size</label>
                        <input type="text" class="form-control is-valid" id="arms" name="arms" placeholder="Arms" required>

                    </div>
                    <div class="col-md-3" id="Teradiv">
                        <label>تیرا/Tera</label>
                        <input type="text" class="form-control is-valid" id="Tera" name="Tera" placeholder="Tera Size" required>

                    </div>
                    
                 
                </div>
                <div class="row">
                    <div class="col-md-3" id="CollorSizediv">
                        <label>گلا/Collor Size</label>
                        <input type="text" class="form-control is-valid" id="CollorSize" name="CollorSize" placeholder="Collor Size" required>

                    </div>
                    <div class="col-md-3" id="Chestdiv">
                        <label>چھاتی/Chest</label>
                        <input type="text" class="form-control is-valid" id="Chest" name="Chest" placeholder="Chest" required>

                    </div>
                    <div class="col-md-3" id="Waistdiv">
                        <label>کمر/Waist</label>
                        <input type="text" class="form-control is-valid" id="Waist" name="Waist" placeholder="Waist" required>

                    </div>
                    <div class="col-md-3" id="Ghera_numdiv">
                        <label>گیرا/Ghera</label>
                        <input type="text" class="form-control is-valid" id="Ghera_num" name="Ghera_num" placeholder="Ghera" required>

                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-3" id="Hipdiv">
                        <label>Hip</label>
                        <input type="text" class="form-control is-valid" id="Hip" name="Hip" placeholder="Hip Size" required>

                    </div>
                    <div class="col-md-3" id="Gidriidiv">
                        <label>Gidrii</label>
                        <input type="text" class="form-control is-valid" id="Gidrii" name="Gidrii" placeholder="Gidrii Size" required>

                    </div>
                    <div class="col-md-3" id="CrossBackdiv">
                        <label>Cross Back</label>
                        <input type="text" class="form-control is-valid" id="CrossBack" name="CrossBack" placeholder="Cross Back Size" required>

                    </div>

                    <div class="col-md-3" id="Shoulderdiv">
                        <label>کندھا/Shoulder</label>
                        <input type="text" class="form-control is-valid" id="Shoulder" name="Shoulder" placeholder="Shoulder" required>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3" id="Bottomdiv">
                        <label>پونچـ/Bottom</label>
                        <input type="text" class="form-control is-valid" id="Bottom" name="Bottom" placeholder="Bottom" required>

                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-3" id="Sleevesdiv">
                        <label>کف/Seelves</label>

                        <select class="form-control is-valid" id="Sleeves" name="Sleeves" required>
                            <option value="">Select Seelves Type</option>
                            <option value="Round">گول/Round</option>
                            <option value="stright">سیدھے/Straight </option>
                        </select>
                    </div>
                    <div class="col-md-3" id="Dcollordiv">
                        <label>کالر/Collor Design</label>

                        <select class="form-control is-valid" id="Dcollor" name="Dcollor">
                            <option value="">Select گیرا/Ghera Type</option>
                            <option value="Bain">بین</option>
                            <option value="Collor">کالر </option>
                        </select>
                    </div>
                   
                   
                    <div class="col-md-3" id="SidePocketdiv">
                        <label>سائیڈ جیب/Side Pockets</label>
                       
                        <select class="form-control is-valid" id="SidePocket" name="SidePocket">
                            <option value="">Select Pockets</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No </option>
                        </select>
                    </div>

                    <div class="col-md-3" id="FrontPocketdiv">
                        <label>سامنے جیب/Front Pocket</label>
                       
                        <select class="form-control is-valid" id="FrontPocket" name="FrontPocket">
                            <option value="">Select Pockets</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No </option>
                        </select>
                    </div>

                </div>
                <div class="row">
                  
                    <div class="col-md-3" id="Gheradiv">
                        <label>گیرا/Ghera</label>

                        <select class="form-control is-valid" id="Ghera" name="Ghera">
                            <option value="">Select گیرا/Ghera Type</option>
                            <option value="Round">گول/Round</option>
                            <option value="stright">سیدھے/Straight </option>
                        </select>
                    </div>
                    <div class="col-md-3" id="suitDesigndiv">
                        <label>Select Suit Design</label>

                        <select class="form-control is-valid" id="suitDesign" name="suitDesign">
                            <option value="">Select Design</option>
                            <option value="Simple">Simple</option>
                            <option value="Design">Design</option>
                        </select>
                    </div>
                    <div class="col-md-3" id="btnDesigndiv">
                        <label>Select Button Design</label>

                        <select class="form-control is-valid" id="btnDesign" name="btnDesign">
                            <option value="">Select Design</option>
                            <option value="Simple">Simple</option>
                            <option value="Design">Design</option>
                        </select>
                    </div>

                    <div class="col-md-3" id="Stitchdiv">
                        <label>Select Stitch Type</label>

                        <select class="form-control is-valid" id="Stitch" name="Stitch">
                            <option value="">Select Design</option>
                            <option value="Single">Single سلائی</option>
                            <option value="Double">Double سلائی</option>
                            <option value="Tripple">Tripple سلائی</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-3" id="CoatButtondiv">
                    <label>Select Button</label>

                    <select class="form-control is-valid" id="CoatButton" name="CoatButton">
                        <option value="">Select Button</option>
                        <option value="Normal">Normal </option>
                        <option value="One Button">One Button </option>
                      
                    </select>
                </div>
                    <div class="col-md-3" id="CoatFittingdiv">
                        <label>Select Fitting</label>

                        <select class="form-control is-valid" id="CoatFitting" name="CoatFitting">
                            <option value="">Select Fitting</option>
                            <option value="Normal">Normal </option>
                            <option value="Fitted">Fitted </option>

                        </select>
                    </div>
                  
                    <div class="col-md-3" id="Commentsdiv">
                        <label>Additional Information</label>
                        <textarea type="text" class="form-control is-valid" id="Comments" name="Comments" placeholder="Additional Information" ></textarea>

                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="button" id="add" onclick="add()" style="margin: 32px 10px 10px 10px;">+</button>
                    </div>
            </div>

               
            </div>

        }
        <header class="panel_header">
            <h2 class="title pull-left">Measurments Saved</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle fa fa-chevron-down"></i>
                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                <i class="box_close fa fa-times"></i>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-md-12">
                    <div class="table-responsive">

                        <table id="tblMeasur" class="table table-bordered">
                            <thead>
                                <tr class="d-table-row">

                                    <th align="left" class="productth" @*id="type"*@>ٹائپ /Type</th>
                                    <th align="left" class="productth" @*id="Lengthdiv"*@>لمبائی/Length</th>
                                    <th align="left" class="productth" @*id="armsdiv"*@>بازو/Arms</th>
                                    <th align="left" class="productth" @*id="Teradiv"*@>Tera</th>
                                    <th align="left" class="productth" @*id="CollorSizediv"*@>گلا/Collor Size</th>
                                    <th align="left" class="productth" @*id="Chestdiv"*@>چھاتی/Chest</th>
                                    <th align="left" class="productth" @*id="Waistdiv"*@>کمر/Waist</th>
                                    <th align="left" class="productth" @*id="Gheradiv"*@>گیرا/Ghera</th>

                                    <th align="left" class="productth" @*id="Sleevesdiv"*@>کف/Seelves</th>
                                    <th align="left" class="productth" @*id="Shoulderdiv"*@>کندھا/Shoulder</th>
                                    <th align="left" class="productth" @*id="Hipdiv"*@>Hip</th>
                                    <th align="left" class="productth" @*id="Gidriidiv"*@>Gidrii</th>
                                    <th align="left" class="productth" @*id="Bottomdiv"*@>پیندا/Bottom</th>
                                    <th align="left" class="productth" @*id="Bottomdiv"*@>گیرا/Ghera </th>
                                   <th align="left" class="productth" @*id="Dcollordiv"*@>گلا ڈیزائن/Collor Design</th>
                                    <th align="left" class="productth" @*id="SidePocketdiv"*@>سائیڈ جیب/Side Pockets</th>
                                    <th align="left" class="productth" @*id="FrontPocketdiv"*@>سامنے جیب/Front Pocket</th>
                                    <th align="left" class="productth" @*id="suitDesigndiv"*@>سوٹ ڈیزائن/Suit Design</th>
                                    <th align="left" class="productth" @*id="btnDesigndiv"*@>بٹن ڈیزائن/Button Design</th>
                                    <th align="left" class="productth" @*id="Stitchdiv"*@>سلائی/Stitch</th>
                                    <th align="left" class="productth" @*id="CoatButtondiv"*@>Coat Button</th>
                                    <th align="left" class="productth" @*id="CoatFittingdiv"*@>Coat Fitting</th>
                                    <th align="left" class="productth" @*id="CrossBackdiv"*@>Cross Back</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                          </div>
                    <button class="btn btn-primary" id="submit" onclick="Save()" type="submit">Submit form</button>

                </div>
            </div>
        </div>

    </section>
    </div>
  
<script src="~/Content/own.js"></script>
 

  
<script src="~/assets/js/jquery-1.11.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Hipdiv,#Gidriidiv,#CrossBackdiv,#Waistdiv,#Teradiv,#Dcollordiv,#Gheradiv,#Ghera_numdiv,#Commentsdiv,#suitDesigndiv,#btnDesigndiv,#Stitchdiv,#CoatButtondiv,#CoatFittingdiv,#Lengthdiv,#Lengthdiv,#Chestdiv,#Shoulderdiv,#Waistdiv,#Sleevesdiv,#armsdiv,#CollorSizediv,#Bottomdiv,#SidePocketdiv,#FrontPocketdiv,#type").hide();


        $("#Measurment_Type_ID").change(function () {
            $("#Hipdiv,#Gidriidiv,#CrossBackdiv,#Waistdiv,#Teradiv,#Dcollordiv,#Gheradiv,#Ghera_numdiv,#Commentsdiv,#suitDesigndiv,#btnDesigndiv,#Stitchdiv,#CoatButtondiv,#CoatFittingdiv,#Lengthdiv,#Chestdiv,#Shoulderdiv,#Waistdiv,#Sleevesdiv,#armsdiv,#CollorSizediv,#Bottomdiv,#SidePocketdiv,#FrontPocketdiv,#type").hide();

            var MeasurId = parseInt($(this).val());
            //Kurta
            if (MeasurId === 10)
            {
                $("#btnDesigndiv,#Stitchdiv,#type,#Waistdiv,#Lengthdiv,#armsdiv,#Dcollordiv,#Ghera_numdiv,#Commentsdiv,#CollorSizediv,#Chestdiv,#Waistdivss,#Gheradiv,#Sleevesdiv,#Shoulderdiv,#suitDesigndiv,#btnDesigndiv,#Buttondiv,#Stitchdiv,#Teradiv").show();
               
            }
                
                //Shalwar
            else if (MeasurId === 11) {
                $("#type,#Lengthdiv,#Bottomdiv,#Ghera_numdiv,#Commentsdiv").show();
            }
                //Trouser
            else if (MeasurId === 12) {
                $("#type,#Lengthdiv,#Bottomdiv,#Ghera_numdiv,#Commentsdiv,#Waistdiv").show();
            }
                //Pent
            else if (MeasurId === 13) {
                $("#type,#Lengthdiv,#Waistdiv,#Bottomdiv,#Hipdiv,#Gidriidiv,#Commentsdiv").show();
                
            }
                //Coat
            else if (MeasurId === 14) {
                $("#type,,#Commentsdiv#Lengthdiv,#Teradiv,#CrossBackdiv,CollorSizediv,#Dcollordiv,#Hipdiv,#suitDesigndiv,#btnDesigndiv,#Stitchdiv,#CoatButtondiv,#CoatFittingdiv,#Chestdiv,#Shoulderdiv,#armsdiv,#Waistdiv").show();

            }
                //WaistCoat
            else if (MeasurId === 15) {
               
                $("#type,#Lengthdiv,#Teradiv,#CrossBackdiv,CollorSizediv,#Dcollordiv,#Hipdiv,#suitDesigndiv,#btnDesigndiv,#Stitchdiv,#CoatButtondiv,#CoatFittingdiv,#Chestdiv,#Waistdiv").show();

            }

           
                    
        });
        $('#tblMeasur').Table({
            "scrollX": true
        });
        //$('.dataTables_length').addClass('bs-select');
    });

    
</script>


